@media screen and (max-width:1024px){
    .title{font-size: 95px;}
    .about,
    .portfolios{padding: 5rem 0;}
    .portfolio{width: 48%;}
}
@media screen and (max-width: 768px){
    .nav .menu{display: none;}
    .title{font-size: 60px;}
    .sub--title{font-size: 20px;}
    .about,.services,.portfolios,.contacts{padding: 5rem 0 1rem;}
    .abouts{margin: 0;}
    .abouts{width: 100% !important;}
    .services .services--container{flex-wrap: nowrap;}
    .portfolio{width: 100%;}
    .contact{flex-wrap: wrap;}
    .contact--details{width: 48%;}
    .service{width: 100%; margin: 2%;}
}

@media screen and (max-width: 480px){
    .title{font-size: 40px;}
    .sub--title{font-size: 12px;}
    .abouts{padding: 30px 10px 0;}
    .contact{flex-direction: column;}
    .contact--details{width: 100%;}
}

@media screen and (max-width: 320px){
    .title{font-size: 35px;}
    .services--container{flex-wrap: wrap !important;}
}