@media screen and (max-width: 767px){
    .title{font-size: 60px;}
    .menu--title .menu{display: none;}
    .section{flex-direction: column;}
    .section--container{width: 100%;}
    .section--container:nth-child(1){height: 45%; background-position: top center;}
    .about--image{float: none; display: none;}
    .about{margin-left: 10px; margin-right: 10px;}
    .services,
    .portfolios,
    .contacts{overflow: auto;}
    .service{width: 100%; margin: 2%;}
    .portfolio{width: 48%;}
    .contacts--container{flex-direction: column;}
    .contact{width: 100%;}
    .menu--bar{display: block;}
}

@media screen and (max-width: 479px){
    .title{font-size: 40px;}
    .portfolio{width: 100%;}
}

@media screen and (max-width: 319px){
    .title{font-size: 35px;}
    .col{width: 100%;}
}