@media screen and (max-width:1024px){
    .title{font-size: 4rem;}
    .about,.portfolios{padding: 5rem 0;}
    .portfolio{width: 48%;}
}
@media screen and (max-width: 768px){
    html{font-size: 50%}
    body{padding: 0;}
    .header{
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
    .wrapper{min-height: 18rem}
    .title__content{margin: 0 1.8rem;}
    .title{font-size: 5rem;}
    .about,.services,.portfolios,.contacts{padding: 8rem 2rem;}
    .abouts{margin: 0;}
    .portfolio__container{display: block;}
    .certificado__container,.proyectos--container{width: 98%;}
    .certificado__title,.proyecto__title{font-size: 3rem;}
    .contacts{padding-top: 
        16rem;
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    }
    .contact{flex-wrap: wrap;}
    .contact--details{width: 48%;}
    .service{width: 100%;}
    .abouts{margin-top: 3rem;}
}

@media screen and (max-width: 480px){
    html{font-size: 37.5%;}
    .title{font-size: 4rem;}

}

@media screen and (max-width: 320px){
    .wrapper{min-height: 11.5rem;}
    .title{font-size: 2.8rem;}
    .certificado__container,.proyectos--container{margin: 0;width: 100%;}
}