*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    position: relative;
    z-index: 0;
}

li{list-style: none;}

@font-face{
    font-family: "Diavlo";
    src: url("../fonts/Diavlo_BLACK_II_37.otf");
}

@font-face{
    font-family: "Lemon Milk";
    src: url("../fonts/LemonMilk.otf");
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?wk9cu');
    src:  url('fonts/icomoon.eot?wk9cu#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?wk9cu') format('truetype'),
      url('../fonts/icomoon.woff?wk9cu') format('woff'),
      url('../fonts/icomoon.svg?wk9cu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before{content: "\f041";}
.icon-twitter-square:before{content: "\f081";}
.icon-facebook-square:before{content: "\f082";}
.icon-linkedin-square:before{content: "\f08c";}
.icon-github-square:before{content: "\f092";}
.icon-phone-square:before{content: "\f098";}
.icon-envelope:before{content: "\f0e0";}
.icon-window:before{content: "\e900";}
.icon-react:before {content: "\e901";}
.icon-code:before {content: "\e902";}

::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-track{background-color: #2A3949;}
::placeholder{color: #6e6e6e;}

::-webkit-scrollbar-thumb{
    background-color: #182028;
    border-radius: 20px;
}

@keyframes animateDown{
    from{transform: translate(-50%,-50%);}
    to{transform: translate(-50%,-20%);}
}

@keyframes animateUp{
    from{transform: translate(-50%,-50%);}
    to{transform: translate(-50%,-80%);}
}

@keyframes animateDownReverse{
    from{transform: translate(-50%,-20%);}
    to{transform: translate(-50%,-50%);}
}

@keyframes animateUpReverse{
    from{transform: translate(-50%,-80%);}
    to{transform: translate(-50%,-50%);}
}

.menu--bar{
    position: absolute;
    top: 5%;
    right: 2%;
    border: 2px solid white;
    z-index: 6;
    padding: 1rem;
    cursor: pointer;
    display: none;
}

.menu--bar i{
    color: white;
    font-size: 30px;
}

.margin--outside{
    max-width: 1024px;
    margin: 0 auto;
    height: inherit;
}

.about--title,
.services--title,
.portfolios--title,
.contacts--title{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lemon Milk";
    color: #E6AF2E;
    font-size: 40px;
    position: relative;
    z-index: 4;
}

.header{
    background-image: url(../img/img-1.jpg);
    height: 100vh;
}

.header,
.about,
.services,
.portfolios,
.contacts{
    width: 100%;
    position: relative;
    z-index: 0;
}
.about,
.services,
.portfolios,
.contacts{
    padding: 5rem;
}

.services,
.contacts,
.footer{background-color: #151515;}

.portfolios{background-color: #ebebeb}

.header{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about--container,
.services--container,
.portfolios--container,
.contacts--container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 4;
    padding: 10px;
    justify-content: center;
}

.abouts,
.service,
.portfolio,
.contact--details,
.form--container{margin: 1%;}

.header--container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}

.menu--title{align-self: flex-end;}

.menu--title,
.menu--social{
    width: 100%;
    text-align: center;
}

.title{
    font-family: "Diavlo";
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    padding: 15px 0;
    position: relative;
    z-index: 0;
    color: transparent;
}

.title::before,
.title::after{
    content: "Jesús Chacón";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    color: white;
    animation-fill-mode: forwards;
}

.title::before{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.title::after{
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.title--animate::before{
    animation-name: animateUp;
    animation-duration: 4s; 
}
.title--animate::after{
    animation-name: animateDown;
    animation-duration: 4s; 
}

.title--animate--reverse::before{
    animation-name: animateUpReverse;
    animation-duration: 4s; 
}
.title--animate--reverse::after{
    animation-name: animateDownReverse;
    animation-duration: 4s; 
}
.sub--title{
    color: white;
    position: absolute;
    font-size: 35px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.sub--title--active{display: block;}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
}

.menu--items,
.social--items{padding: 0 10px;}

.social--item,
.menu--item{
    text-decoration: none;
    font-family: "Lemon Milk";
    color: rgba(255, 255, 255, .7);
    font-size: 20px;
    transition: all .3s;
    position: relative;
    z-index: 4;
}

.menu--item::before{
    content: "";
    height: 5px;
    left: 0;
    width: 0;
    bottom: 0;
    background-color: #E6AF2E;
    position: absolute;
    z-index: 2;
    transition: all .3s;
    border-radius: 20px;
}

.social--item{font-size: 50px;}

.menu--items:hover .menu--item::before{
    width: 50%;
    transform: translateX(100%);
}

.menu--items:hover .menu--item,
.social--items:hover .social--item{color: #E6AF2E;}

.menu--mobile{
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.menu--mobile .menu{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
}

.abouts{
    width: 100%;
    padding: 30px 30px 0;
}

.abouts:nth-child(2),
.abouts:nth-child(3){
    width: 48%;
}

.abouts h3{
    padding-left: 20px; 
    position: relative;
    z-index: 0;
    color: black;
    font-size: 20px;
}

.abouts h3::after{
    content: "";
    position: absolute;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 0;
    top: 50%;
    width: 1px;
    transform: translateY(-50%) rotate(-90deg);
}

.about--info{margin-bottom: 1rem;}
p.about--info{color: #888888;}

.about--info span{
    display: block;
    padding-bottom: 8px;
    color: #888888;
}

.about--text{
    color: #888888;
    font-size: 20px;
}

.about--skill{
    background-color: #E0E2DB;
    margin-bottom: 3rem; 
    position: relative;
    z-index: 0;
}

.skill--bar{
    width: 80%;
    background-color: #191716;
    height: 12px;
    position: relative;
    z-index: 0;
}
.about--skills{margin-top: 2rem;}

.about--skill strong{
    position: absolute;
    top: -1.2rem;
}

.info{
    background-color: transparent;
    color: black;
    font-weight: 900;
    position: absolute;
    border-radius: 5px;
    border: 2px solid black;
    padding: .1rem .3rem;
    top: -2.2rem;
    right: 0;
}
.info::after,
.info::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.info::after{
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.info::before{
    border-top: 3px solid white;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    z-index: 10;
}

.service{
    width: 31.3333333333%;
    padding: 0px;
    text-align: center;
}

.service--container{
    color: white;
    align-self: center;
    font-size: 45px;
    padding-right: 20px;
}

.service--title{color: #E6AF2E;}

.portfolio{
    width: 31.3333333333%;
    position: relative;
    z-index: 10;
}

.portfolio h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all .3s;
    z-index: 5;
}

.portfolio h3 a{
    text-decoration: none;
    font-weight: 900;
    font-size: 50px;
    color: white;
}

.portfolio::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: scale(0);
    transition: all .3s;
}

.portfolio:hover h3{transform: translate(-50%,-50%) scale(1);}
.portfolio:hover::after{transform: scale(1);}

.portfolio .portfolio--image{
    width: 100%;
    display: block;
}

.contact{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.contact--details{
    display: flex;
    padding: 10px 35px;
}

.contact--container{
    color: #FFFFFF;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 1rem;
}

.contact--description{color: white;}
.contact--title{color: #E6AF2E;}
.contact--description p{color: #6e6e6e;}
.form--container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.input--container{
    width: 100%;
    position: relative;
    padding: 0 10px;
}
.col{width: 50%;}

input,
textarea{
    width: 100%;
    padding: 10px 25px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid;
}

textarea{resize: none;}

.submit{
    color: #FFFFFF;
    border: 2px solid;
}

.submit:hover{cursor: pointer;}

.footer{
    text-align: center;
    color: #6e6e6e;
    padding: 1rem;
    font-size: 20px;
}

.active{display: block;}
.active--bar{display: block;}