*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html{font-size: 62.5%;}

body{
    padding: 3rem;
    position: relative;
    z-index: 0;
}

@font-face{
    font-family: "Diavlo";
    src: url("../fonts/Diavlo_BLACK_II_37.otf");
}

@font-face{
    font-family: "Lemon Milk";
    src: url("../fonts/LemonMilk.otf");
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?phzp4b');
  src:  url('../fonts/icomoon.eot?phzp4b#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?phzp4b') format('truetype'),
    url('../fonts/icomoon.woff?phzp4b') format('woff'),
    url('../fonts/icomoon.svg?phzp4b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-react:before {content: "\e900";}
.icon-phone:before {content: "\e942";}
.icon-location:before {content: "\e947";}
.icon-mobile2:before {content: "\e959";}
.icon-spinner5:before {content: "\e97e";}
.icon-plus:before {content: "\ea0a";}
.icon-minus:before {content: "\ea0b";}
.icon-mail4:before {content: "\ea86";}
.icon-facebook:before {content: "\ea90";}
.icon-twitter:before {content: "\ea96";}
.icon-github:before {content: "\eab0";}
.icon-linkedin2:before {content: "\eaca";}
.icon-codepen:before {content: "\eae8";}

.margin--outside{
    max-width: 1024px;
    margin: 0 auto;
    height: inherit;
}
.navigation--check{display: none;}
.navigation__bar{
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;

}

.navigation__bar span{
    width: 3rem;
    height: .2rem;
    background-color: black;
    display: inline-block;
    margin-top: 3.5rem;
    margin-left: 2rem;
    transition: all .3s;
    position: relative;
}

.navigation__bar span::after,
.navigation__bar span::before{
    content: "";
    width: 3rem;
    height: .2rem;
    background-color: black;
    display: block;
    position: absolute;
    transition: all .3s;
}

.navigation__bar span::before{top: -.8rem;}
.navigation__bar span::after{top: .8rem;}
.navigation__bar:hover span{width: 2rem;}

.nav--background{
    position: fixed;
    top: 6rem;
    right: 6rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: darkslateblue;
    transform: scale(.5);
    transition: all .5s;
    z-index: 8;
}
.navigation--check:checked ~ .nav--background{transform: scale(50);}
.navigation--check:checked ~ .navigation__bar span{background-color: transparent;}
.navigation--check:checked ~ .navigation__bar span::after{top:0;transform: rotate(-135deg)}
.navigation--check:checked ~ .navigation__bar span::before{top:0;transform: rotate(135deg)}

.nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.nav--ul{list-style: none;opacity: 0;transition: all .3s;}
.nav--li{font-size: 4rem;text-align: center;font-weight: 900;padding: 1rem;}
.nav--li a{cursor: pointer;text-decoration: none;color: white;}
.navigation--check:checked ~ .nav > .nav--ul{opacity: 1;}
.header{
    background-image: linear-gradient(to right bottom, rgba(37, 42, 44, .5), rgba(37, 42, 44, .5)), url(../img/img-1.jpg);
    background-image: linear-gradient(to left bottom, rgba(55, 74, 103,.6), rgb(104, 109, 250,.6)), url(../img/img-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 95vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.about,
.portfolios,
.contacts{
    padding: 6rem 5rem;
    width: 100%;
}

.services{
    background-color: #151515;
    width: 100%;
    padding: 10rem 5rem;
}

.about--container,
.services--container,
.contacts--container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.abouts,
.service,
.portfolio,
.contact--details{margin: 1%;}

.title__content{margin-left: 6rem;}
.wrapper{min-height: 15rem;}
.title{
    font-family: "Diavlo";
    color: white;
    font-size: 40px;
    padding: .5rem 0;
}

.title span{color: #FB9A21;}

.btn{
    font-size: 20px;
    background-color: white;
    border-radius: 20rem;
    padding: 1.25rem 3.5rem;
    outline: 0;
    margin-top: .5rem;
    margin-right: 1.5rem;
    border-color: transparent;
    text-decoration: none;
    display: inline-flex;
    color: black;
}

.btn i{padding-right: 1.5rem;}

.about--title,
.services--title,
.portfolios--title,
.contacts--title{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lemon Milk";
    background-image: linear-gradient(to left, rgba(55, 74, 103,.6), rgb(104, 109, 250,.6));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    position: relative;
    z-index: 4;
}

.services--title,
.contacts--title{color: white;}
.about{padding: 0 5rem 7rem;}
.abouts{width: 100%;}

.abouts h3{
    padding-left: 2rem; 
    position: relative;
    z-index: 0;
    color: black;
    font-size: 3rem;
}

.abouts h3::after{
    content: "";
    position: absolute;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 0;
    top: 50%;
    width: 1px;
    transform: translateY(-50%) rotate(-90deg);
}

.about--info{margin-bottom: 1rem;}
.about--text{color: #888888; font-size: 2.5rem;}
.about--skills{margin-top: 2rem;}
.about--skills strong{font-size: 2rem; text-transform: uppercase}
.about--skill{background-color: #E0E2DB; margin-bottom: 2.5rem;}

.skill--bar{
    width: 20%;
    background-color: #191716;
    background-image: linear-gradient(to left, rgba(55, 74, 103,.6), rgb(104, 109, 250,.6));
    height: 1.5rem;
    position: relative;
    z-index: 0;
    transition: all 1s;
}

.info{
    background-color: transparent;
    color: black;
    font-weight: 900;
    position: absolute;
    border-radius: .5rem;
    border: 2px solid black;
    padding: .25rem .5rem;
    top: -4rem;
    right: 0;
    font-size: 2rem;
}

.info::after,
.info::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.info::after{
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.info::before{
    border-top: 3px solid white;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    z-index: 10;
}

.services{
    background-image: linear-gradient(to left bottom, rgba(55, 74, 103,.6), rgb(104, 109, 250,.6));
    transform: skewY(-7deg);
}

.services>*{transform: skewY(7deg);}

.service{
    width: 31.3333333333%;
    padding: 2.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    cursor: pointer;
    transition: all .3s;
}

.service:hover{
    transform: translateY(-.5rem);
    box-shadow: .2rem .2rem .5rem black;
}

.service--container{
    align-self: center;
    font-size: 6rem;
    background-image: linear-gradient(to left, rgba(55, 74, 103,.6), rgb(104, 109, 250,.6));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.service--title{color: #888888; font-weight: 900;font-size: 2.5rem;}
.service--text{color: #888888; padding: 1.5rem 0;font-weight: 500;font-size: 2rem;}
.portfolio__container{display: flex;}
.certificado__container,
.proyectos--container{
    width: 48%;
    margin: 0 1%;
}

.certificado__title,
.proyecto__title{
    padding: 1rem 0;
    font-size: 2.25rem;
}
.badge,
.proyectos,
.courses{
    border: 2px solid rgb(55, 74, 103);
    border-bottom: 0;
    background-image: linear-gradient(to left, rgba(55, 74, 103,.6), rgb(104, 109, 250,.6));
    background-clip: text;
    -webkit-background-clip: text;
    color: #888888;
    font-weight: 900;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    position: relative;
}

.badge i{
    font-size: 1.5rem;
    position: absolute; 
    top: 50%;
    right: 5%;
    color: white;
    background-color: black;
    padding: .5rem;
    border-radius: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    transition: all .3s;
}
.courses{padding: .5rem 7rem;}
.courses__container{max-height: 0; overflow: hidden; transition: all 1s;}
.careers__container:last-child{border: 0;}
.careers__container:last-child,
.proyectos:last-child{
    border-bottom: 2px;
    border-style: solid;
    border-color: rgb(55, 74, 103);
}

.proyectos i{ font-size: 5rem;}
.badge--image,
.courses--image{
    background-color: brown;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    /*margin: .5rem 1rem;*/
}
.badge--title,
.proyectos--title,
.courses--title{font-size: 2.5rem; padding-left: 1rem;}

.portfolio{   
    width: 31.3333333333%;
    position: relative;
    z-index: 10;
}

.contacts{
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(to left bottom, rgba(55, 74, 103,.6), rgb(104, 109, 250,.6));
    background-color: #151515;
    padding-top: 13rem;
}
.contact{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact--details{
    display: inherit;
    flex-direction: column;
    padding: 2.5rem;
    width: inherit;
    background-color: rgba(255, 255, 255, .8);
    transition: all .3s;
    cursor: pointer;
}

.contact--details:hover{
    transform: translateY(-.5rem);
    box-shadow: .2rem .2rem .5rem black;
}
.contact--container{
    background-image: linear-gradient(to left, rgba(55, 74, 103,.6), rgb(104, 109, 250,.6));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    width: inherit;
    text-align: center;
    width: 100%;
}

.contact--description{color: white;text-align: center;}
.contact--title{color: #888888;font-weight: 900;font-size: 2.5rem;}
.contact--description p{color: #888888;padding: 1.5rem 0;font-weight: 500;font-size: 2rem;}
