:root {
  --bg-dark-hight: #17113d;
  --bg-dark: #241b5e;
  --bg-btn: #f5977d;
  --bg: #f5977d;
  --color-border-photo: #1c6cc8;
  --color-link: #f5977d;
  --color-border: #f5977d;
  --color-hight-title: #f5977d;
  --color-custom-icon: #f5977d;
  --color-normal-title: #ffffff;
  --color-text: #ffffff;
  --color-icon: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: borhser-box;
  line-height: normal;
}
